[submodule "external/rpi_ws281x"]
	path = external/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/ALSA.CPP"]
	path = external/ALSA.CPP
	url = https://github.com/marc-weber1/ALSA.CPP.git
