[submodule "external/rpi_ws281x"]
	path = external/rpi_ws281x
	url = https://github.com/jgarff/rpi_ws281x.git
[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/ALSA.CPP"]
	path = external/ALSA.CPP
	url = https://github.com/marc-weber1/ALSA.CPP.git
[submodule "external/iir1"]
	path = external/iir1
	url = https://github.com/berndporr/iir1.git
[submodule "external/argspp"]
	path = external/argspp
	url = https://github.com/dmulholl/argspp.git
